.top {
	border: 0;
	background-color: blueviolet;
	color: white;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 50px;
	text-align: center;
}

.dhLogo {
	width: 300px;
	max-width: 100%;
}

.icon {
	width: 1.5rem;
	max-width: 2rem;
	height: auto;
}